<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>String</string>
		<key>criteria</key>
		<array>
			<dict>
				<key>NSRuleEditorPredicateLeftExpression</key>
				<string>value</string>
				<key>value</key>
				<string>placeholder</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>4</integer>
						<key>NSRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>value</key>
						<string>is</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>stringValue</string>
								<key>value</key>
								<string>text</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>5</integer>
						<key>NSRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>value</key>
						<string>is not</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>stringValue</string>
								<key>value</key>
								<string>textField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>99</integer>
						<key>NSRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>value</key>
						<string>contains</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>stringValue</string>
								<key>value</key>
								<string>textField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>8</integer>
						<key>NSRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>value</key>
						<string>begins with</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>stringValue</string>
								<key>value</key>
								<string>textField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>9</integer>
						<key>NSRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>value</key>
						<string>ends with</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>stringValue</string>
								<key>value</key>
								<string>textField</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rate</string>
		<key>criteria</key>
		<array>
			<dict>
				<key>NSRuleEditorPredicateLeftExpression</key>
				<string>value</string>
				<key>value</key>
				<string>placeholder</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>4</integer>
						<key>value</key>
						<string>is</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>rateField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>2</integer>
						<key>value</key>
						<string>is greater than</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>rateField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>0</integer>
						<key>value</key>
						<string>is less than</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>rateField</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>AbDate</string>
		<key>criteria</key>
		<array>
			<dict>
				<key>NSRuleEditorPredicateLeftExpression</key>
				<string>value</string>
				<key>value</key>
				<string>placeholder</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>4</integer>
						<key>value</key>
						<string>is the date</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>dateField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>2</integer>
						<key>value</key>
						<string>is after the date</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>dateField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>0</integer>
						<key>value</key>
						<string>is before the date</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>NSRuleEditorPredicateRightExpression</key>
								<string>objectValue</string>
								<key>value</key>
								<string>dateField</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>NSRuleEditorPredicateOperatorType</key>
						<integer>100</integer>
						<key>value</key>
						<string>is in the range</string>
						<key>criteria</key>
						<array>
							<dict>
								<key>value</key>
								<string>dateField</string>
								<key>criteria</key>
								<array>
									<dict>
										<key>value</key>
										<string>to</string>
										<key>criteria</key>
										<array>
											<dict>
												<key>XspfMPredicateRightExpression</key>
												<string>rangeDateFromDisplayValues:</string>
												<key>XspfMRightExpressionArg01</key>
												<string>displayValues</string>
												<key>value</key>
												<string>dateField02</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
